.container-aside {
  display: grid;
  grid-template-rows: 1fr;
  height: calc(100vh - 56px);
  position: sticky;
  top: 56px;
  width: 100%;
}

.container-aside aside {
  display: none;
}

@media (min-width: 768px) {
  .container-aside {
    grid-template-columns: minmax(340px, 1fr) minmax(200px, 3fr);
    grid-template-rows: 1fr;
    /* grid-template-areas: "aside main"; */
  }

  .container-aside aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    height: calc(100vh - 56px);
  }

  .container-aside main {
    background-color: var(--white);
    height: calc(100vh - 56px);
    overflow-y: scroll;
  }
}