.container-aside {
  display: grid;
  grid-template-rows: 1fr;
  height: calc(100vh - 58px);
  position: sticky;
  top: 58px;
  width: 100%;
  border-right: 2px solid var(--white);
  overflow: hidden;
}

.container-aside main {
  padding: 1.4rem 0;
}

.container-aside aside {
  display: none;
}

.container-aside main > * {
  padding: 0 3rem;
}

@media (min-width: 768px) {
  .container-aside {
    grid-template-columns: minmax(340px, 1fr) minmax(200px, 3fr);
    grid-template-rows: 1fr;
    /* grid-template-areas: "aside main"; */
  }

  .container-aside aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 56px);
  }

  .container-aside main {
    height: calc(100vh - 56px);
    overflow-y: scroll;
  }
}