.jazzy-action {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.8rem;
  background-color: var(--real-white);
  padding: 0.8rem 3rem;
}

.jazzy-action:hover {
  background-color: var(--white);
}

.jazzy-action--right {
  flex-direction: row-reverse;
}

.jazzy-action--primary {
  background-color: var(--primary);
  color: var(--white);
}

.jazzy-action--primary:hover {
  background-color: var(--primary-hover);
}

.jazzy-action--secondary {
  background-color: var(--secondary);
}

.jazzy-action--secondary:hover {
  background-color: var(--secondary-hover);
}