.content-block {
  display: flex;
  flex-direction: column;
}

.content-block p {
  padding: 1.6rem 3rem;
}

@media (min-width: 768px) {
  .content-block:has(> img) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
  }
  
  .content-block__img-left img {
    order: -1;
  }
}