.icon--white {
  color: var(--white);
  fill: var(--white);
}

.icon--black {
  color: var(--black);
  fill: var(--black);
}

.icon--primary {
  color: var(--primary);
  fill: var(--primary);
}

.icon--hv-primary:hover {
  color: var(--primary-hover);
  fill: var(--primary-hover);
}