html,
body {
  height: 100%;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base, 10px);
  color: var(--black);
}

#root {
  height: 100%;
  font-size: 1.4rem;
}

a {
  color: var(--black);
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 3rem;
}

.header nav ul {
  display: flex;
  gap: 2rem;
}

/*  */
.uppercase {
  text-transform: uppercase;
}