html,
body {
  height: 100%;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base, 10px);
  color: var(--black);
}

#root {
  height: 100%;
  font-size: 1.4rem;
}
.App {
  height: 100%;
}
.page {
  min-height: calc(100% - 55px);
}

a {
  color: var(--black);
  text-decoration: none;
}

.grid-two-columns {
  grid-column: span 2;
}

/* Header menu styles */
.header {
  padding: 1.4rem 3rem;
  background-color: var(--real-white);
  max-width: 1024px;
  margin: 0 auto;
}
.header__logo, .header__nav {
  display: none;
}
.header__topbar {
  display: flex;
  justify-content: space-between;
}
.topbar__actions {
  display: flex;
  gap: 10px;
}
.topbar__burguer {
  display: block;
}
.topbar__close {
  display: none;
}
.header.is-open .topbar__burguer {
  display: none;
}
.header.is-open .topbar__close {
  display: block;
}
.header.is-open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.header.is-open .header__nav {
  height: 100%;
  display: block;
}
.header.is-open .header__nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 40px;
  padding-top: 140px;
}


/*  */
.uppercase {
  text-transform: uppercase;
}
.is-hidden {
  display: none;
}

.container {
  padding: 30px;
}
.container--blue {
  background-color: var(--primary);
}
.container--white {
  background-color: var(--white);
}
.container--yellow {
  background-color: var(--secondary);
}
.container--grey {
  background-color: var(--grey);
}

@media (min-width: 768px) {
  .header__topbar {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
  }
  .header .header__nav ul {
    display: flex;
    flex-direction: row;
  
    align-items: center;
    gap: 16px;
    padding-top: 0;
  }
}