html,
body {
  min-height: 100vh;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base, 10px);
  color: var(--black);
  background-color: var(--white-soft);
}

#root {
  min-height: 100vh;
  font-size: 1.4rem;
}
.App {
  min-height: 100vh;
}
.page {
  min-height: calc(100% - 55px);
}
.page--center {
  min-height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 120px 30px;
}

a {
  color: var(--black);
  text-decoration: none;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8rem;
  padding: 2.8rem 0;
}
form > * {
  max-width: 330px;
}
form .form--item--group {
  width: 100%;
}
form .form--item--group-inline {
  width: 100%;
  display: flex;
  gap: 0.8rem;
}
legend,
fieldset,
select,
textarea,
input,
button {
  font-family: var(--font-family);
}
textarea {
  resize: vertical;
}

.grid-two-columns {
  grid-column: span 2;
}

/* Header menu styles */
.header {
  padding: 1.4rem 3rem;
  background-color: var(--white);
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 8;
}
.header__logo, .header__nav, .header__user, .header__nav--dashboard, .no-mobile {
  display: none;
}
.header__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar__logo {
  height: 40px;
}
.topbar__logo img {
  height: 100%;
}
.topbar__actions {
  display: flex;
  gap: 10px;
}
.topbar__user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.topbar__burguer {
  display: block;
}
.topbar__close {
  display: none;
}
.header.is-open .topbar__burguer {
  display: none;
}
.header.is-open .topbar__close {
  display: block;
}
.header.is-open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.header.is-open .header__nav {
  height: 100%;
  display: block;
}
.header.is-open .header__nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header__nav--dashboard.is-open {
  display: block;
}
.header__nav--dashboard.is-open .dashboard-menu {
  display: block;
  height: calc(100vh - 55px);
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: var(--real-white);
}
.header__nav--dashboard.is-open .dashboard-menu__title {
  padding: 3rem;
}

/*  */
.uppercase {
  text-transform: uppercase;
}
.is-hidden {
  display: none;
}

.container {
  padding: 30px;
}
.container--blue {
  background-color: var(--primary);
}
.container--white {
  background-color: var(--white);
}
.container--yellow {
  background-color: var(--secondary);
}
.container--grey {
  background-color: var(--grey);
}

.dashboard-menu {
  display: none;
}

@media (min-width: 768px) {
  .header__topbar,
  .only-mobile,
  .header__nav--dashboard.is-open {
    display: none;
  }
  .header__logo {
    display: block;
    height: 60px;
  }
  .header__logo img {
    height: 100%;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
  }
  .header .header__nav ul {
    display: flex;
    flex-direction: row;
  
    align-items: center;
    gap: 8px;
    padding-top: 0;
  }
  .header__user {
    display: block;
  }

  .dashboard-menu,
  .no-mobile {
    display: block;
  }
  .dashboard-menu__title {
    padding: 1.4rem 3rem;
  }
}