@font-face {
  font-family: 'Cairo';
  src: url('../../public/fonts/Cairo-VariableFont_slnt\,wght.ttf') format('truetype');
}

:root {
  --real-white: #FFF;
  --white: #F5EEE7;
  --black: #4F4F4F;
  --gray: rgba(79, 79, 79, 0.2);

  --primary: #008636;
  --secondary: #FA6B1E;

  --primary-soft: rgba(0, 134, 54, 0.2);
  --secondary-soft: rgba(250, 107, 30, 0.4);
  --white-soft: rgba(245, 238, 231, 0.4);
  --black-soft: rgba(79, 79, 79, 0.2);

  --primary-text: var(--white);
  --secondary-text: var(--black);

  --primary-hover: var(--primary-soft);
  --secondary-hover: var(--secondary-soft);

  --font-family-sans: 'Cairo', sans-serif;

  --border-radius: 8px;
  --border-radius-btn: 32px;
}