.register-user {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.register-user__container {
  padding: 30px;
  width: 100%;
  max-width: 330px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.register-user .text {
  padding-bottom: 55px;
}
.register-user form {
  padding-top: 60px;
  height: 100%;
}

.register-user form .button {
  align-self: flex-end;
  margin-top: auto;
}

@media (min-width: 768px) {
  .register-user {
    padding-top: 220px;
  }
}
@media (min-width: 1024px) {
  .register-user {
    padding-top: 167px;
  }
}