.info-section {
  display: flex;
  flex-direction: column;
}

.info-section ~ .info-section {
  margin-top: 1.6rem;
}

@media (min-width: 768px) {
  .info-section {
    flex-direction: row;
    gap: 1.6rem;
    align-items: center;
  }
}