.select-filter {
  font-size: 1.6rem;
  padding: 0.8rem 3rem;
  width: 100%;
}

.select-filter label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  font-family: var(--font-family-sans);
}

.select-filter select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  color: inherit;
}

.select-filter select::-ms-expand {
  display: none;
}

.select-filter--primary {
  background-color: var(--primary);
  color: var(--white);
}

.select-filter--secondary {
  background-color: var(--secondary);
}

.select-filter--tertiary {
  background-color: var(--tertiary);
  color: var(--white);
}

.select-filter--gray {
  background-color: var(--gray);
  color: var(--white);
}

.select-filter--white {
  background-color: var(--white);
  color: var(--black);
}