.form--checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 1rem;
}

.form--checkbox__left {
  flex-direction: column-reverse;
}

.form--checkbox input[type="checkbox"] {
  accent-color: var(--primary);
}