:root {
  --btn-color: var(--primary);
  --btn-color-hover: var(--primary-hover);
  --btn-color-contrast: var(--white);
}

.button {
  display: inline-block;
  border-radius: var(--border-radius-btn, 'none');
  padding: 0px 32px;
  background: var(--btn-color);
  color: var(--btn-color-contrast);
  font-size: 16px;
  font-family: var(--font-family-sans);
  cursor: pointer;
  border: none;
}

.button:hover,
.button--base:hover {
  background: var(--btn-color-hover);
  color: var(--btn-color);
}

.button--base,
.button--shy {
  background: transparent;
}

.button--base {
  color: var(--btn-color);
}

.button--shy {
  color: var(--btn-color-hover);
}

.button--secondary {
  --btn-color: var(--secondary);
  --btn-color-hover: var(--secondary-hover);
  --btn-color-contrast: var(--black);
}

.button--tertiary {
  --btn-color: var(--tertiary);
  --btn-color-hover: var(--tertiary-hover);
  --btn-color-contrast: var(--white);
}

.button--big {
  width: 100%;
  padding: 4.8rem 16px;
  border-radius: var(--border-radius);
}